<div class="container main-container">


    <div class="jumbotron">
      <div class="container text-center">
      	 <%= image_tag('paperplane.png')%>
        <h1>谢谢您<h1>
        <h3>我们已经收到您的反馈意见<h3>
        <p><%= link_to "点击这里回到foodrocks.hk首页", dishes_path, style: 'color:blue;' %><p>

      </div>
    </div>
</div>