<div class="container main-container">


    <div class="jumbotron">
      <div class="container">
        <p>FoodRocks.hk 我们在做的事情我们在做的事情我们在做的事情我们在做的事情我们在做的事情我们在做的事情我们在做的事情我们在做的事情我们在做的事情我们在做的事情我们在做的事情我们在做的事情</p>

      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 text-center">
          <%= image_tag('flow_images/限时抢.jpg')%>
          <hr />
          <h2>限时抢</h2>
          <p>打开FoodRocks.hk今日菜品</p>
          <p>每日精选菜单为您解决吃什么的烦恼！</p>
          <p>迅速下单，限时抢饭。</p>
          <br>          
        </div>
        <div class="col-md-4 text-center">
          <%= image_tag('flow_images/准点送.jpg')%>
          <hr />
          <h2>优雅送</h2>
          <p>带上现金和您的下单确认卡</p>
          <p>到开心广场图书观旧翼指定地点领取</p>          
          <p>我们就给您准时优雅送到！</p>
          <br> 
        </div>
        <div class="col-md-4 text-center">
          <%= image_tag('flow_images/放开吃.jpg')%>
          <hr />
          <h2>放开吃</h2>
          <p>好吃不排队，实惠没烦恼！</p>
          <p>别忘了投票，选出你下周最想吃的菜！</p>
          <br> 
        </div>
      </div>
    </div>
</div>