<p id="notice"><%= notice %></p>

<p>

  <strong>The Dish you ordered is:</strong>
  <%= @order.dish.name %>
</p>

<p>
  <strong>Your Phone Number (Used to pick up):</strong>
  <%= @order.phone %>
</p>

<%= link_to 'Back to Menu', dishes_path %>
