<div class="container main-container">


    <div class="jumbotron">
      <div class="container col-md-offset-3">
          <p>这是一支去服务，去挑战，去创造的团队。<br>能为每个团队伙伴创造发展空间，让团队与FoodRocks一起成长。<br>编写精彩故事，我们期待激情个性有技能的你火速加入！
          <p>Come on! Let’s Rock!</p>
          

      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-offset-2 col-md-4">
          <h2>联系我们</h2>
          <hr />
          <p>官方微信号：foodrocks</p>
          <p>官方邮箱：<a href="mailto:foodrocks.hk@gmail.com?Subject=问题反馈" target="_top">
foodrocks.hk@gmail.com</a></p>          
          <p>手机号：12345678</p>
        </div>
        <div class="col-md-4 content">
		  <h2 class="content-h2">意见反馈</h2>
          <%= render 'form' %>
       </div>
      </div>
    </div>
</div>