<div class="container main-container">


    <div class="jumbotron">
      <div class="container">
        <p>FoodRocks.hk 在不久前刚刚上线了全新设计的网站系统。新系统目前可能尚有很多地方需要完善，如果您在使用的过程中发现任何BUG或者对我们有改进意见，请填写下表并发送给我们。这将帮助我们为您提供更好的服务。</p>
        <p>注意，我们会尽力考虑所有的反馈意见，但我们无法保证一一回复。</p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>联系我们</h2>
          <hr />
          <p>官方微信号：foodrocks</p>
          <p>官方邮箱：<a href="mailto:foodrocks.hk@gmail.com?Subject=问题反馈" target="_top">
foodrocks.hk@gmail.com</a></p>          
          <p>手机号：12345678</p>
        </div>
        <div class="col-md-4 content">
		  <h2 class="content-h2">意见反馈</h2>
          <%= render 'form' %>
       </div>
        <div class="col-md-4">
          <h2>团队介绍</h2>
          <hr />
          <p>这是一支去服务，去挑战，去创造的团队，为每个伙伴提供发展空间，让大家与FoodRocks一起成长。我们期待激情个性有技能的你火速加入！嘿嘿，因为整个精彩故事正在开始。</p>
          <p>Let’s Rock!</p>
        </div>
      </div>
    </div>
</div>