<p>
  <strong>Email:</strong>
  <%= @feedback.email %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @feedback.topic %>
</p>

<p>
  <strong>Content:</strong>
  <%= @feedback.content %>
</p>


<%= link_to 'Back to Menu', admin_feedbacks_path %>
