#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: black;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  size:100%;
  height: 100%;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  }

.carousel-control{
  background-color: black;
}


  /*nav*/

.navbar-brand {
    padding: 0 15px;
}



/*place order page*/
.img-blur{
 -webkit-filter: blur(5px) brightness(0.5);
}

.transbox {
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.transbox p {
    margin: 10px 40px;
    font-weight: bold;
    color: black;
    font-size: 24px;
    text-align: center;
}


.text-white {
	color: white;
}

label{
	font-size: 24px;
}

.large-font-size{
	margin: 10px 0px;
    font-weight: bold;
    color: white;
    font-size: 40px;
}

.text-align-left{
	text-align: left;
}


.table-width{ 
  width:45%;
  margin: 0 auto;
}

.order-container{
  position: absolute;  
  bottom: 20px;
  width: 100%;
}

.table-short{
  width: 60%;
  margin: 0 auto;  
}

.table-comfirmed{
  text-align: center;

}
.table-comfirmed p{
  font-size: 24px;
}

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}


