// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}